
<li>
      {% if data.content is defined %}

          {{ data.content }}

      {% endif %}

      {% if data.items is defined %}

        <{{ tag }} class="block-list block-list--{{ style }}">

          {% for item in data.items %}

            {% include './nestedList_items.twig' with {'data': item, 'tag': tag} %}

          {% endfor %}

        </{{ tag }}>

      {% endif %}

</li>

